<.header>
  Listing Jobs and Workers
  <:actions>
    <.link patch={~p"/jobs/new"}>
      <.button>New Job</.button>
    </.link>
  </:actions>
</.header>

<h2>Nodes:</h2>
<ul>
  <%= for node <- @nodes do %>
    <ul><%= IO.inspect(node) %></ul>
  <% end %>
</ul>
